.row{style: "background-color: #FF7130;"}
  .large-6.columns
    %h3= "<b>name:</b> #{@bar.name}"
    %h3= "<b>phone:</b> #{@bar.phone}"
    %h3= "<b>address:</b> #{@bar.addr}, #{@bar.city}"
    %h3= "<b>license:</b> #{@bar.license}"
  .large-6.columns{style: "align: center;"}
    %canvas{id: "canvas", style: "background: white; border:1px solid #FFFFFF", width: "400", height: "222"}
    :javascript
      var lineChartData = {
        labels : ["January","February","March","April","May","June","July, August, September, October, November, December"],
          datasets : [
            {
              fillColor : "rgba(220,220,220,0.5)",
              strokeColor : "rgba(220,220,220,1)",
              pointColor : "rgba(220,220,220,1)",
              pointStrokeColor : "#fff",
              data : [65,59,90,81,56,55,40]
            },
            {
              fillColor : "rgba(151,187,205,0.5)",
              strokeColor : "rgba(151,187,205,1)",
              pointColor : "rgba(151,187,205,1)",
              pointStrokeColor : "#fff",
              data : [28,48,40,19,96,27,100]
            }
          ]
      }

      var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData);


.row
  .large-5.columns{style: "background-color: #5DCFC3;"}
    %h1 Frequenters of #{@bar.name}:
    -@bar.frequents.each do |drinker|
      %h4= drinker.name

  .large-5.columns{style: "background-color: #34CFBE;"}
    %h1 #{@bar.name}'s beer menu:
    -@bar.sells.each do |beer|
      %h4= "#{beer.name} $#{beer.price_at @bar}"

