.row{style: "background-color: #FF7130;"}
  .large-6.columns
    %h3= "<b>name:</b> #{@bar.name}"
    %h3= "<b>phone:</b> #{@bar.phone}"
    %h3= "<b>address:</b> #{@bar.address}, #{@bar.city}"
    %h3= "<b>license:</b> #{@bar.license}"

.row
  .large-5.columns{style: "background-color: #5DCFC3;"}
    %h1 Frequenters of #{@bar.name}:
    -@bar.frequents.each do |drinker|
      %h4{style: "color: black;"}= drinker.name

  .large-5.columns{style: "background-color: #34CFBE;"}
    %h1 #{@bar.name}'s beer menu:
    -@bar.sells.each do |beer|
      %h4{style: "color: black;"} #{beer.name} $#{beer.price_at @bar}

