.row
  .large-12.columns{style: "background-color: #FF7130;"}
    %h2= "<b>name:</b> #{@drinker.name}"
    %h3= "<b>phone:</b> #{@drinker.phone}"
    %h3= "<b>address:</b> #{@drinker.address}, #{@drinker.city}"

.row
  .large-4.columns{style: "background-color: #5DCFC3;"}
    %h1 #{@drinker.name} likes:
    -@drinker.likes.each do |like|
      %h4{data: {:reveal_id => like.name.gsub(" ","")}}= like.name
      .reveal-modal{id: like.name.gsub(" ",""), data: {'reveal' => 'nil'}}
        %h3 #{@drinker.name} purchases of #{like.name} look like:
        %ul
          - @drinker.bought(Beer.get_beer_by_name(like.name)).each do |tranny|
            %li
              %p #{tranny.date}  #{tranny.bar}  #{tranny.price.to_f}


  .large-4.columns{style: "background-color: #34CFBE;"}
    %h1 #{@drinker.name} is friends with:
    -@drinker.friends.each do |friend|
      %h4{data: {:reveal_id => friend.name}}= friend.name
      .reveal-modal{id: friend.name, data: {'reveal' => 'nil'}}
        %h3 #{@drinker.name} and #{friend.name} both go to these bars:
        %ul
          - @drinker.frequents_with(Drinker.get_drinker_by_name(friend.name)).each do |bar|
            %li
              %p=bar.name

  .large-4.columns{style: "background-color: #209E8E;"}
    %h1 #{@drinker.name} goes to:
    -@drinker.frequents.each do |bar|
      %h4= bar.name
